@import './variables';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@mixin fullScreen(){
  width: $fullWidth;
  height: $fullHeight;
  box-sizing: border-box;
}

body, a, button, div, h1,h2,h3,h4 , p, li, ul {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
@media (max-width: 580px) {
  @mixin defaultButton(){
    padding-right: 15px;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;
    color: $white;
    border: 1px solid $white;
    background: none;
    box-shadow: none;
    outline: none;
  }
  .first-section{
    @include fullScreen();
    background-color: $navyBlueOne;
    color: $white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 60%;
    display: table-cell;
    font-size: 30px;
    font-weight: bold;
    button{
      @include defaultButton();
      font-weight:bold;
      font-size:13px
    }
    .typist-container{
      height: 250px;
      width: 100%;
      display: block;
    }
  }

 
  nav {
    background-color: $navyBlueFour;
    height: 65px;
    width: 100vh;
    position: fixed;
  }
  
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
    outline: none;

  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: $white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: $white;

  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 180px;
    height: 100vh;
    box-shadow: 0 0 30px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: $navyBlueFour;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 15px 0px 0 10px;
    transition-delay: 2s;
    color: $white;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

  .second-section{
    @include fullScreen();
    height: 70vh;
    display: table-row;
    background-color: $navyBlueTwo;
    }
    .about-us-container{
      padding-top: 50px;
      padding-right: 20px;
      padding-left:20px;
      color: $white;

      h2{
        font-weight: bold;
        font-size:30px;
      }
      p{
        font-size:18px;
      }
    }
}

